# {{ ansible_managed }}
server {
    listen 8025;
    server_name {{ nginx_server_name }};

    location / {
        proxy_pass http://127.0.0.1:{{ maildev_port_web }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
